<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create  Movie</title>
</head>
<body>
    <h1>Create  Movie</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <br><br>
        <label for="director">Director</label>
        <input type="text" name="director" id="director">
        <br><br>
        <label for="year"> Release Year</label>
        <input type="text" name="year" id="year">
        <br><br>
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre">
        <br><br>
        <button type="submit">Create Movie</button>
    </form>

</body>
</html>