<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
</head>
<body>
    <h1>{% if music %}Update Music {% else %}Create Music{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="{{ music.title }}">
        <br><br>
        <label for="year">Release Year</label>
        <input type="number" id="year" name="year" value="{{ music.year }}">
        <br><br>
        <label for="genre">Genre</label>
        <input type="text" id="genre" name="genre" value="{{ music.genre }}">
        <br><br>
        <button type="submit">{% if movie %}Update {% else %} Create{% endif %}</button>
        <br><br>

    </form>
    {% if music %}
        <button><a href="{{ music.get_detail_url}}">Back to Detail</a></button>
    {% else %}
         <button><a href="{% url 'music:music_list' %}">Back to List</a></button>
    {% endif %}
</body>
</html>
</body>
</html>