<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel</title>
</head>
<body>
    <h1>{% if travel %}Update Travel {% else %}Create Travel Destination{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for=" destination_name">Dstination name</label>
        <input type="text" id=" destination_name=" name=" destination_name" value="{{ travel. destination_name= }}">
        <br><br>
        <label for="country">Country</label>
        <input type="text" id="country" name="country" value="{{ travel.country }}">
        <br><br>
        <label for="description">Description</label>
        <input type="description" id="description" name="description" value="{{ travel.description }}">
        <br><br>
        <label for="popular_season">Popular season</label>
        <input type="text" id="popular_season" name="popular_season" value="{{ travel.popular_season }}">
        <br><br>
        <button type="submit">{% if sport %}Update {% else %} Create{% endif %}</button>
        <br><br>
    </form>
    {% if travel %}
        <button><a href="{{ travel.get_detail_url}}">Back to Detail</a></button>
    {% else %}
         <button><a href="{% url 'travels:travel_list' %}">Back to List</a></button>
    {% endif %}
</body>
</html>
</body>
</html>